<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>InStoreTracker</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='IST.css') }}">
    </head>

<body>
    <div id = "wrapper">

        <header>
        <div class = "topBox">
            <div class = "logo">
                <div class = logimg></div>
            </div>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Video Feed</a></li>
                    <li><a href="{{ url_for('heatMap') }}">Heat Map</a></li>
                    <li><a href="{{ url_for('license') }}">License</a></li>
                </ul>
            </nav>
        </div>
        </header>

        <div class = "clearfix">
        </div>
        <div class = "banner">
        </div>


        <main>
            <h1>Heat map of 24 hours</h1>
            <div class = "heatMap">
                <img src = "{{ url_for('static', filename='heatmap.png') }}" alt = "HeatMapExample">
            </div>

            <h2>24 hour customer high: {{largest_value}}</h2>
            <h2>Most populated section: {{largest_value_row}}</h2>
        </main>

        <div class = "clearfix">

        </div>
        
        <footer>
            <a href="https://www.postandparcel.com/">Post and Parcel Bellingham</a>
            <p> Copyright &copy; 2023 InStoreTrackerTeam </p>
            <script>
                var date = document.lastModified;
                document.write(date);
            </script>
        </footer>

    </div>
</body>
</html>

