<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>InStoreTracker</title>
        <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='IST.css') }}">
        
         <style>
        main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }

        main p {
            width: 50%;
            padding: 20px;
        }

        main img {
            width: 50%;
            max-width: 100%; /* Ensure the image doesn't exceed its original size */
            height: auto;
        }
    </style>
    
    </head>

<body>
    <div id = "wrapper">

        <header>
        <div class = "topBox">
            <div class = "logo">
                <div class = logimg></div>
            </div>
        
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home Page</a></li>
                    <li><a href="{{ url_for('heatMap') }}">Heat Map</a></li>
                    <li><a href="{{ url_for('license') }}">License</a></li>
                </ul>
            </nav>            
        </div>
        </header>

        <div class = "clearfix">
        </div>
        <div class = "banner">
        </div>


        <main>
            <h1>Tracking System</h1>
            <p>This is temporary text for the text blob below the heading. Replace it with your actual content.</p>
            <img src="{{ url_for('static', filename='heatmap.png') }}">
        </main>

        <div class = "clearfix">

        </div>
        
        <footer>
            <a href="https://www.postandparcel.com/">Post and Parcel Bellingham</a>
            <p> Copyright &copy; 2023 InStoreTrackerTeam </p>
            <script>
                var date = document.lastModified;
                document.write(date);
            </script>
        </footer>

    </div>
</body>
</html>

